#conatiner{
    height: 300px;
    width: 800px ;
   margin: 100px auto;
   display: block ;
   border: 1px;
   border-radius: 2%;
   font-weight: 750;
   text-align: left;
   box-shadow: 2px 3px 8px 5px #c4bfbf;
}